@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$color-yellow: #CEA90D;
$color-light-orange: #D48502;
$color-orange: #C4451A;
$color-red: #B72538;
$color-purple: #511260;
$color-blue: #1F247C;
$color-dark-blue: #1D2030;

$color-yellow-primary: #CECE1B;
$color-yellow-secondary: #5CAA74;
$color-light-orange-primary: #F48E08;
$color-light-orange-secondary: #CE4509;
$color-orange-primary: #2ABFB0;
$color-orange-secondary: #0487D9;
$color-red-primary: #DD313D;
$color-red-secondary: #892F6B;
$color-purple-primary: #FF74A0;
$color-purple-secondary: #E566FF;
$color-blue-primary: #FFD72A;
$color-blue-secondary: #E51A1A;
$color-dark-blue-primary: #5F90BB;
$color-dark-blue-secondary: #1BAB32;

$color-white: #FFFFFF;
$color-black: #000000;

$hero-image-height: 910px;

$accordion-menu-space: 65px;
$accordion-menu-background-position: 10px 12px;
$accordion-menu-border-radius: 54px 0 0 0;

body, html {
    color: $color-white;
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

//Preload images
body:after{
    content: url("/images/menu/durvis_active.svg") url("/images/menu/krustojums_active.svg")
    url("/images/menu/gala stacija_active.svg") url("/images/menu/skatlogs_active.svg")
    url("/images/menu/brauciens_active.svg") url("/images/menu/gaidisana_active.svg")
    url("/images/menu/pasteiga.svg");
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
}

.content {
    background-color: #222;

    .container {
        margin: auto;
        max-width: 1500px;
    }
}

h1 {
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    line-height: 110px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 40px;
    font-weight: 900;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h6 {
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.prev-icon,
.next-icon {
    font-size: 45px;
}

.text-right {
    text-align: right;
}

.topnav {
    background-color: #333;
    overflow: hidden;

    .logo-container {
        margin: auto;
        padding: 18px 0;
        width: max-content;

        a {
            img {
                height: 50px;
            }
        }
    }

    .language-links-container {
        position: absolute;
        right: 100px;
        top: 24px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                color: #B3B3B3;
                float: left;
                font-size: 30px;
                font-style: italic;
                font-weight: 900;
                padding: 0 18px;

                &.active {
                    color: white;
                }
            }
        }
    }
}

// Buttons
.button-white {
    background-color: $color-white;
    border: none;
    border-radius: 6px;
    color: $color-black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    padding: 15px;
    text-decoration: none;
}

// Hero images
.hero-image-container {
    width: 100%;

    .hero-image-overlay {
        display: inline-block;
        height: $hero-image-height;
        position: relative;

        &:after {
            background: linear-gradient(to bottom, rgba(29,32,48,0) 30%, rgba(29,32,48,1) 95%);
            content: '';
            display: inline-block;
            height: $hero-image-height;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .hero-image-title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 1;

            .button-container {
                margin: auto;
                width: max-content;
            }
        }
    }

    img {
        width: 100%;
    }

    &.home {
        height: $hero-image-height;
    }
}

// Homepage
.accordion-menu {
    height: 750px;
    overflow: hidden;
    position: relative;

    .menu-item {
        bottom: 0;
        display: inline-block;
        position: absolute;
        transition: margin-bottom 0.2s, left 0.2s, width 0.2s;
        width: 100%;

        .item-contents {
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            gap: 100px;
            justify-content: flex-start;
            left: 80px;
            position: relative;
            top: 80px;
            width: fit-content;

            .col-right {
                width: 400px;

                .button-container {
                    margin-top: 45px;
                }
            }
        }

        &.lowered {
            margin-bottom: -250px;
        }

        &.item-durvis {
            background: $color-dark-blue url("/images/menu/durvis.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            height: 750px;

            &.active {
                background: $color-dark-blue url("/images/menu/durvis_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-krustojums {
            background: $color-blue url("/images/menu/krustojums.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - $accordion-menu-space);
            left: $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-blue url("/images/menu/krustojums_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-galastacija {
            background: $color-purple url("/images/menu/gala stacija.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 2 * $accordion-menu-space);
            left: 2 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-purple url("/images/menu/gala stacija_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-skatlogs {
            background: $color-red url("/images/menu/skatlogs.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 3 * $accordion-menu-space);
            left: 3 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-red url("/images/menu/skatlogs_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-brauciens {
            background: $color-orange url("/images/menu/brauciens.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 4 * $accordion-menu-space);
            left: 4 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-orange url("/images/menu/brauciens_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-gaidisana {
            background: $color-light-orange url("/images/menu/gaidisana.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 5 * $accordion-menu-space);
            left: 5 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-light-orange url("/images/menu/gaidisana_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-pasteiga {
            background: $color-yellow url("/images/menu/pasteiga.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 6 * $accordion-menu-space);
            left: 6 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-yellow url("/images/menu/pasteiga_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }
    }
}

// Section page
.image-carousel-container {
    .image-container {
        height: 900px;
        margin: auto;
        overflow: hidden;
        position: relative;

        .image-wrapper {
            display: none;

            img {
                height: 100%;
            }
        }

        .back,
        .forward {
            border-radius: 0 5px 5px 0;
            color: grey;
            cursor: pointer;
            font-size: 19px;
            font-weight: bold;
            margin-top: -23px;
            padding: 17px;
            position: absolute;
            top: 48%;
            transition: 0.4s ease;
            user-select: none;
            width: auto;

            &:hover {
                background-color: rgba(0,0,0,0.8);
            }
        }

        .forward {
            border-radius: 4px 0 0 4px;
            right: 0;
        }
    }

    .image-carousel-dots {
        display: flex;
        justify-content: space-between;

        .dot {
            cursor: pointer;

            .dot-image-container {
                aspect-ratio: 1 / 1;
                position: relative;
                width: 120px;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                img {
                    height: 100%;
                    left: 0;
                    object-fit: cover;
                    position: absolute;
                    width: 100%;
                }
            }
        }

        .enable,
        .dot:hover {
            background-color: #717161;
        }
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

.section-content {
    padding: 0 50px 0 50px;

    .row {
        display: flex;
        flex-direction: row;
        gap: 60px;
        width: 100%;

        .col-left,
        .col-right {
            width: 50%;
        }
    }
}

.navigation-button-container {
    display: flex;
    justify-content: space-between;

    a {
        color: $color-white;
        text-decoration: none;

        &:hover {
            color: $color-white;
        }
    }
}

.yellow {
    background-color: $color-yellow;

    .dot-image-container {
        img {
            outline: 5px solid $color-yellow-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-yellow-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(206,169,13,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.light-orange {
    background-color: $color-light-orange;

    .dot-image-container {
        img {
            outline: 5px solid $color-light-orange-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-light-orange-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(212,133,2,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.orange {
    background-color: $color-orange;

    .dot-image-container {
        img {
            outline: 5px solid $color-orange-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-orange-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(196,69,26,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.red {
    background-color: $color-red;

    .dot-image-container {
        img {
            outline: 5px solid $color-red-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-red-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(183,37,56,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.purple {
    background-color: $color-purple;

    .dot-image-container {
        img {
            outline: 5px solid $color-purple-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-purple-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(81,18,96,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.blue {
    background-color: $color-blue;

    .dot-image-container {
        img {
            outline: 5px solid $color-blue-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-blue-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(31,36,124,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.dark-blue {
    background-color: $color-dark-blue;

    .dot-image-container {
        img {
            outline: 5px solid $color-dark-blue-primary;
            outline-offset: -5px;

            &.selected {
                outline: 10px solid $color-dark-blue-secondary;
                outline-offset: -10px;
            }
        }
    }

    .section-content {
        background: linear-gradient(180deg, rgba(29,32,48,0) 0%, rgba(0,0,0,1) 100%);
    }
}
