@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$color-yellow: #CEA90D;
$color-light-orange: #D48502;
$color-orange: #C4451A;
$color-red: #B72538;
$color-purple: #511260;
$color-blue: #1F247C;
$color-dark-blue: #1D2030;

body, html {
    color: #FFFFFF;
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

//Preload images
body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("/images/menu/durvis_active.svg") url("/images/menu/krustojums_active.svg")
    url("/images/menu/gala stacija_active.svg") url("/images/menu/skatlogs_active.svg")
    url("/images/menu/brauciens_active.svg") url("/images/menu/gaidisana_active.svg")
    url("/images/menu/pasteiga.svg");
}

.content {
    background-color: #222;

    .container {
        margin: auto;
        max-width: 1500px;
    }
}

h1 {
    font-size: 100px;
    font-weight: 900;
    font-style: italic;
    line-height: 110px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 40px;
    font-weight: 900;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h6 {
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.prev-icon,
.next-icon {
    font-size: 45px;
}

.text-right {
    text-align: right;
}

.topnav {
    background-color: #333;
    overflow: hidden;

    .logo-container {
        margin: auto;
        padding: 18px 0;
        width: max-content;

        a {
            img {
                height: 50px;
            }
        }
    }

    .language-links-container {
        position: absolute;
        right: 100px;
        top: 24px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                float: left;
                color: #B3B3B3;
                padding: 0 18px;
                font-size: 30px;
                font-weight: 900;
                font-style: italic;

                &.active {
                    color: white;
                }
            }
        }
    }
}

// Buttons
.button-white {
    color: #000000;
    background-color: #ffffff;
    font-weight: 900;
    font-size: 14px;
    padding: 15px;
    border-radius: 6px;
    text-decoration: none;
}

// Hero images
.hero-image-container {
    width: 100%;

    .hero-image-overlay {
        display: inline-block;
        height: 910px;
        position: relative;

        &:after {
            content:'';
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height: 910px;
            display: inline-block;
            background: linear-gradient(to bottom, rgba(29,32,48,0) 30%, rgba(29,32,48,1) 95%);
        }
    }

    img {
        width: 100%;
    }

    &.home {
        height: 910px
    }
}

// Homepage
$accordion-menu-space: 65px;
$accordion-menu-background-position: 10px 12px;
$accordion-menu-border-radius: 54px 0 0 0;

.accordion-menu {
    height: 750px;
    overflow: hidden;
    position: relative;

    .menu-item {
        bottom: 0;
        display: inline-block;
        position: absolute;
        transition: margin-bottom 0.2s, left 0.2s, width 0.2s;
        width: 100%;

        .item-contents {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 100px;
            width: fit-content;

            position: relative;
            top: 80px;
            left: 80px;

            .col-right {
                width: 400px;

                .button-container {
                    margin-top: 45px;
                }
            }
        }

        &.lowered {
            margin-bottom: -250px;
        }

        &.item-durvis {
            background: $color-dark-blue url("/images/menu/durvis.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            height: 750px;

            &.active {
                background: $color-dark-blue url("/images/menu/durvis_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-krustojums {
            background: $color-blue url("/images/menu/krustojums.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - $accordion-menu-space);
            left: $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-blue url("/images/menu/krustojums_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-galastacija {
            background: $color-purple url("/images/menu/gala stacija.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 2 * $accordion-menu-space);
            left: 2 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-purple url("/images/menu/gala stacija_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-skatlogs {
            background: $color-red url("/images/menu/skatlogs.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 3 * $accordion-menu-space);
            left: 3 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-red url("/images/menu/skatlogs_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-brauciens {
            background: $color-orange url("/images/menu/brauciens.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 4 * $accordion-menu-space);
            left: 4 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-orange url("/images/menu/brauciens_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-gaidisana {
            background: $color-light-orange url("/images/menu/gaidisana.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 5 * $accordion-menu-space);
            left: 5 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-light-orange url("/images/menu/gaidisana_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }

        &.item-pasteiga {
            background: $color-yellow url("/images/menu/pasteiga.svg") no-repeat $accordion-menu-background-position;
            background-origin: content-box;
            background-size: 1500px auto;
            border-radius: $accordion-menu-border-radius;
            height: calc(750px - 6 * $accordion-menu-space);
            left: 6 * $accordion-menu-space;

            @media screen and (max-width: 1230px) {
                left: 0;
            }

            &.active {
                background: $color-yellow url("/images/menu/pasteiga_active.svg") no-repeat $accordion-menu-background-position;
                background-origin: content-box;
                background-size: 1500px auto;
            }
        }
    }
}

// Section page
.section-content {
    padding: 0 50px 0 50px;

    .row {
        display: flex;
        flex-direction: row;
        gap: 60px;
        width: 100%;

        .col-left,
        .col-right {
            width: 50%;
        }
    }
}

.navigation-button-container {
    display: flex;
    justify-content: space-between;


    a {
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            color: #FFFFFF;
        }
    }
}

.yellow {
    background-color: $color-yellow;

    .section-content {
        background: linear-gradient(180deg, rgba(206,169,13,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.light-orange {
    background-color: $color-light-orange;

    .section-content {
        background: linear-gradient(180deg, rgba(212,133,2,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.orange {
    background-color: $color-orange;

    .section-content {
        background: linear-gradient(180deg, rgba(196,69,26,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.red {
    background-color: $color-red;

    .section-content {
        background: linear-gradient(180deg, rgba(183,37,56,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.purple {
    background-color: $color-purple;

    .section-content {
        background: linear-gradient(180deg, rgba(81,18,96,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.blue {
    background-color: $color-blue;

    .section-content {
        background: linear-gradient(180deg, rgba(31,36,124,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.dark-blue {
    background-color: $color-dark-blue;

    .section-content {
        background: linear-gradient(180deg, rgba(29,32,48,0) 0%, rgba(0,0,0,1) 100%);
    }
}
