@import url(https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
body, html {
  color: #FFFFFF;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body:after {
  content: url("/images/menu/durvis_active.svg") url("/images/menu/krustojums_active.svg") url("/images/menu/gala stacija_active.svg") url("/images/menu/skatlogs_active.svg") url("/images/menu/brauciens_active.svg") url("/images/menu/gaidisana_active.svg") url("/images/menu/pasteiga.svg") url("/images/menu/durvis_en_active.svg") url("/images/menu/krustojums_en_active.svg") url("/images/menu/gala stacija_en_active.svg") url("/images/menu/skatlogs_en_active.svg") url("/images/menu/brauciens_en_active.svg") url("/images/menu/gaidisana_en_active.svg") url("/images/menu/pasteiga_en.svg");
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

.content {
  background-color: #222;
}
.content .container {
  margin: auto;
  max-width: 1500px;
}

h1 {
  font-size: 100px;
  font-style: italic;
  font-weight: 900;
  line-height: 110px;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 70px;
    line-height: 80px;
  }
}
@media screen and (max-width: 630px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

h2 {
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  h2 {
    font-size: 50px;
    line-height: 70px;
  }
}
@media screen and (max-width: 630px) {
  h2 {
    font-size: 40px;
    line-height: 60px;
  }
}

h3 {
  font-size: 50px;
  font-style: italic;
  font-weight: 900;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

h4 {
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 900px) {
  h4 {
    font-size: 30px;
  }
}

h5 {
  font-size: 40px;
  font-weight: 900;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  h5 {
    font-size: 30px;
  }
}

h6 {
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: justify;
}
@media screen and (max-width: 900px) {
  h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: justify;
}
@media screen and (max-width: 900px) {
  p {
    font-size: 17px;
    line-height: 24px;
  }
}

.prev-icon,
.next-icon {
  font-size: 45px;
}
@media screen and (max-width: 900px) {
  .prev-icon,
.next-icon {
    font-size: 35px;
  }
}

.text-right {
  text-align: right;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav .logo-container {
  margin: auto;
  padding: 18px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.topnav .logo-container a img {
  height: 50px;
}
.topnav .language-links-container {
  position: absolute;
  right: 100px;
  top: 24px;
}
@media screen and (max-width: 900px) {
  .topnav .language-links-container {
    right: 25px;
  }
}
.topnav .language-links-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topnav .language-links-container ul li {
  float: left;
}
.topnav .language-links-container ul li a {
  color: #B3B3B3;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  margin: 0 25px;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .topnav .language-links-container ul li.active {
    display: none;
  }
}
.topnav .language-links-container ul li.active a {
  color: white;
}

.button-white {
  background-color: #FFFFFF;
  border: none;
  border-radius: 6px;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
  padding: 15px;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .button-white {
    font-size: 13px;
    font-weight: 700;
  }
}

.hero-image-container {
  width: 100%;
}
.hero-image-container .hero-image-overlay {
  display: inline-block;
  height: 910px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.hero-image-container .hero-image-overlay:after {
  background: linear-gradient(to bottom, rgba(29, 32, 48, 0) 30%, rgb(29, 32, 48) 95%);
  content: "";
  display: inline-block;
  height: 910px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-image-container .hero-image-overlay .hero-image-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.hero-image-container .hero-image-overlay .hero-image-title .button-container {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.hero-image-container img {
  width: 100%;
}
.hero-image-container.home {
  height: 910px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.hero-image-container.home:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.hero-image-container.home img {
  height: 910px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-image-container.home h1 {
  margin-bottom: 60px;
}

.home-route-map {
  margin-bottom: 80px;
}
.home-route-map h2 {
  margin-bottom: 100px;
}
@media screen and (max-width: 630px) {
  .home-route-map h2 {
    margin-bottom: 60px;
  }
}
.home-route-map .map-image-container {
  margin: auto;
  width: 60%;
}
@media screen and (max-width: 900px) {
  .home-route-map .map-image-container {
    width: 70%;
  }
}
@media screen and (max-width: 630px) {
  .home-route-map .map-image-container {
    width: 95%;
  }
}

.accordion-menu {
  height: 750px;
  overflow: hidden;
  position: relative;
}
.accordion-menu .menu-item {
  bottom: 0;
  display: inline-block;
  position: absolute;
  transition: margin-bottom 0.2s, left 0.2s, width 0.2s;
  width: 100%;
}
.accordion-menu .menu-item .item-contents {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: flex-start;
  left: 80px;
  position: relative;
  top: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 900px) {
  .accordion-menu .menu-item .item-contents {
    gap: 40px;
    left: 60px;
    top: 80px;
  }
}
@media screen and (max-width: 630px) {
  .accordion-menu .menu-item .item-contents {
    left: 25px;
    width: calc(100% - 25px);
  }
}
@media screen and (max-width: 630px) {
  .accordion-menu .menu-item .item-contents .col-left {
    display: none;
  }
}
.accordion-menu .menu-item .item-contents .col-right {
  width: 400px;
}
@media screen and (max-width: 900px) {
  .accordion-menu .menu-item .item-contents .col-right {
    width: 300px;
  }
}
@media screen and (max-width: 630px) {
  .accordion-menu .menu-item .item-contents .col-right {
    margin: auto;
  }
}
.accordion-menu .menu-item .item-contents .col-right .button-container {
  margin-top: 45px;
}
@media screen and (max-width: 630px) {
  .accordion-menu .menu-item .item-contents .col-right .button-container {
    text-align: center;
  }
}
.accordion-menu .menu-item.lowered {
  margin-bottom: -250px;
}
.accordion-menu .menu-item.item-durvis {
  background: #1D2030 url("/images/menu/durvis.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  height: 750px;
}
.accordion-menu .menu-item.item-durvis.active {
  background: #1D2030 url("/images/menu/durvis_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-krustojums {
  background: #1F247C url("/images/menu/krustojums.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 685px;
  left: 65px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-krustojums {
    left: 0;
  }
}
.accordion-menu .menu-item.item-krustojums.active {
  background: #1F247C url("/images/menu/krustojums_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-galastacija {
  background: #511260 url("/images/menu/gala stacija.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 620px;
  left: 130px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-galastacija {
    left: 0;
  }
}
.accordion-menu .menu-item.item-galastacija.active {
  background: #511260 url("/images/menu/gala stacija_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-skatlogs {
  background: #B72538 url("/images/menu/skatlogs.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 555px;
  left: 195px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-skatlogs {
    left: 0;
  }
}
.accordion-menu .menu-item.item-skatlogs.active {
  background: #B72538 url("/images/menu/skatlogs_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-brauciens {
  background: #C4451A url("/images/menu/brauciens.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 490px;
  left: 260px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-brauciens {
    left: 0;
  }
}
.accordion-menu .menu-item.item-brauciens.active {
  background: #C4451A url("/images/menu/brauciens_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-gaidisana {
  background: #D48502 url("/images/menu/gaidisana.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 425px;
  left: 325px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-gaidisana {
    left: 0;
  }
}
.accordion-menu .menu-item.item-gaidisana.active {
  background: #D48502 url("/images/menu/gaidisana_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-pasteiga {
  background: #CEA90D url("/images/menu/pasteiga.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 360px;
  left: 390px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-pasteiga {
    left: 0;
  }
}
.accordion-menu .menu-item.item-pasteiga.active {
  background: #CEA90D url("/images/menu/pasteiga_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu.en .menu-item.item-durvis {
  background: #1D2030 url("/images/menu/durvis_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-durvis.active {
  background: #1D2030 url("/images/menu/durvis_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-krustojums {
  background: #1F247C url("/images/menu/krustojums_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-krustojums.active {
  background: #1F247C url("/images/menu/krustojums_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-galastacija {
  background: #511260 url("/images/menu/gala stacija_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-galastacija.active {
  background: #511260 url("/images/menu/gala stacija_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-skatlogs {
  background: #B72538 url("/images/menu/skatlogs_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-skatlogs.active {
  background: #B72538 url("/images/menu/skatlogs_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-brauciens {
  background: #C4451A url("/images/menu/brauciens_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-brauciens.active {
  background: #C4451A url("/images/menu/brauciens_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-gaidisana {
  background: #D48502 url("/images/menu/gaidisana_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-gaidisana.active {
  background: #D48502 url("/images/menu/gaidisana_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-pasteiga {
  background: #CEA90D url("/images/menu/pasteiga_en.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}
.accordion-menu.en .menu-item.item-pasteiga.active {
  background: #CEA90D url("/images/menu/pasteiga_en_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 2100px auto;
}

.image-carousel-container {
  margin: 80px 6% 0 6%;
}
@media screen and (max-width: 1230px) {
  .image-carousel-container {
    margin: 80px 3% 0 3%;
  }
}
@media screen and (max-width: 900px) {
  .image-carousel-container {
    margin: 40px 3% 0 3%;
  }
}
@media screen and (max-width: 630px) {
  .image-carousel-container {
    margin: 40px 0 0 0;
  }
}
.image-carousel-container .image-container {
  background-color: rgba(255, 255, 255, 0.5);
  height: 800px;
  margin: auto;
  margin-bottom: 60px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1230px) {
  .image-carousel-container .image-container {
    height: 710px;
  }
}
@media screen and (max-width: 1000px) {
  .image-carousel-container .image-container {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1000px) {
  .image-carousel-container .image-container {
    aspect-ratio: 16/10;
    height: unset;
    width: 100%;
  }
}
.image-carousel-container .image-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.image-carousel-container .image-container .image-wrapper {
  display: none;
}
.image-carousel-container .image-container .image-wrapper.selected {
  display: block;
}
.image-carousel-container .image-container .image-wrapper img {
  height: 780px;
  left: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
}
@media screen and (max-width: 1230px) {
  .image-carousel-container .image-container .image-wrapper img {
    height: 690px;
  }
}
@media screen and (max-width: 1000px) {
  .image-carousel-container .image-container .image-wrapper img {
    height: calc(100% - 20px);
  }
}
.image-carousel-container .image-container .image-wrapper img.vertical {
  -o-object-fit: contain;
     object-fit: contain;
}
.image-carousel-container .image-container .back,
.image-carousel-container .image-container .forward {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  color: #FFFFFF;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  margin-top: -23px;
  padding: 17px;
  position: absolute;
  top: 48%;
  transition: 0.4s ease;
  user-select: none;
  /* Standard */
  width: auto;
}
.image-carousel-container .image-container .back {
  border-radius: 0 5px 5px 0;
  left: 10px;
}
.image-carousel-container .image-container .forward {
  border-radius: 4px 0 0 4px;
  right: 10px;
}
.image-carousel-container .image-carousel-dots {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .image-carousel-container .image-carousel-dots {
    display: none;
  }
}
.image-carousel-container .image-carousel-dots .dot {
  cursor: pointer;
}
.image-carousel-container .image-carousel-dots .dot .dot-image-container {
  aspect-ratio: 1/1;
  position: relative;
  width: 120px;
}
@media screen and (max-width: 1300px) {
  .image-carousel-container .image-carousel-dots .dot .dot-image-container {
    width: 100px;
  }
}
.image-carousel-container .image-carousel-dots .dot .dot-image-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.image-carousel-container .image-carousel-dots .dot .dot-image-container img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
}

.section-content {
  padding: 80px 11% 0 11%;
}
@media screen and (max-width: 1230px) {
  .section-content {
    padding: 80px 5% 0 5%;
  }
}
@media screen and (max-width: 900px) {
  .section-content {
    padding: 40px 5% 0 5%;
  }
}
.section-content .section-title {
  margin-bottom: 80px;
}
@media screen and (max-width: 900px) {
  .section-content .section-title {
    margin-bottom: 40px;
  }
}
.section-content .row {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 100%;
}
@media screen and (max-width: 630px) {
  .section-content .row {
    flex-direction: column;
    gap: 30px;
  }
}
.section-content .row.first-row {
  margin-bottom: 40px;
}
@media screen and (max-width: 630px) {
  .section-content .row.first-row {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}
.section-content .row .col-left,
.section-content .row .col-right {
  width: 50%;
}
@media screen and (max-width: 630px) {
  .section-content .row .col-left,
.section-content .row .col-right {
    margin: auto;
    width: 80%;
  }
}

.navigation-button-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
@media screen and (max-width: 900px) {
  .navigation-button-container {
    padding: 40px 0;
  }
}
@media screen and (max-width: 500px) {
  .navigation-button-container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}
.navigation-button-container a {
  color: #FFFFFF;
  text-decoration: none;
}
.navigation-button-container a:hover {
  color: #FFFFFF;
}

.yellow {
  background-color: #CEA90D;
}
.yellow .image-carousel-container .image-container {
  outline: 10px solid #5CAA74;
  outline-offset: -10px;
}
.yellow .image-carousel-container .image-container .back:hover,
.yellow .image-carousel-container .image-container .forward:hover {
  background-color: #5CAA74;
}
.yellow .image-carousel-container .dot-image-container img {
  outline: 5px solid #CECE1B;
  outline-offset: -5px;
}
.yellow .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #5CAA74;
  outline-offset: -10px;
}
.yellow .section-content {
  background: linear-gradient(180deg, rgba(206, 169, 13, 0) 0%, rgb(0, 0, 0) 100%);
}

.light-orange {
  background-color: #D48502;
}
.light-orange .image-carousel-container .image-container {
  outline: 10px solid #CE4509;
  outline-offset: -10px;
}
.light-orange .image-carousel-container .image-container .back:hover,
.light-orange .image-carousel-container .image-container .forward:hover {
  background-color: #CE4509;
}
.light-orange .image-carousel-container .dot-image-container img {
  outline: 5px solid #F48E08;
  outline-offset: -5px;
}
.light-orange .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #CE4509;
  outline-offset: -10px;
}
.light-orange .section-content {
  background: linear-gradient(180deg, rgba(212, 133, 2, 0) 0%, rgb(0, 0, 0) 100%);
}

.orange {
  background-color: #C4451A;
}
.orange .image-carousel-container .image-container {
  outline: 10px solid #0487D9;
  outline-offset: -10px;
}
.orange .image-carousel-container .image-container .back:hover,
.orange .image-carousel-container .image-container .forward:hover {
  background-color: #0487D9;
}
.orange .image-carousel-container .dot-image-container img {
  outline: 5px solid #2ABFB0;
  outline-offset: -5px;
}
.orange .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #0487D9;
  outline-offset: -10px;
}
.orange .section-content {
  background: linear-gradient(180deg, rgba(196, 69, 26, 0) 0%, rgb(0, 0, 0) 100%);
}

.red {
  background-color: #B72538;
}
.red .image-carousel-container .image-container {
  outline: 10px solid #892F6B;
  outline-offset: -10px;
}
.red .image-carousel-container .image-container .back:hover,
.red .image-carousel-container .image-container .forward:hover {
  background-color: #892F6B;
}
.red .image-carousel-container .dot-image-container img {
  outline: 5px solid #DD313D;
  outline-offset: -5px;
}
.red .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #892F6B;
  outline-offset: -10px;
}
.red .section-content {
  background: linear-gradient(180deg, rgba(183, 37, 56, 0) 0%, rgb(0, 0, 0) 100%);
}

.purple {
  background-color: #511260;
}
.purple .image-carousel-container .image-container {
  outline: 10px solid #E566FF;
  outline-offset: -10px;
}
.purple .image-carousel-container .image-container .back:hover,
.purple .image-carousel-container .image-container .forward:hover {
  background-color: #E566FF;
}
.purple .image-carousel-container .dot-image-container img {
  outline: 5px solid #FF74A0;
  outline-offset: -5px;
}
.purple .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #E566FF;
  outline-offset: -10px;
}
.purple .section-content {
  background: linear-gradient(180deg, rgba(81, 18, 96, 0) 0%, rgb(0, 0, 0) 100%);
}

.blue {
  background-color: #1F247C;
}
.blue .image-carousel-container .image-container {
  outline: 10px solid #E51A1A;
  outline-offset: -10px;
}
.blue .image-carousel-container .image-container .back:hover,
.blue .image-carousel-container .image-container .forward:hover {
  background-color: #E51A1A;
}
.blue .image-carousel-container .dot-image-container img {
  outline: 5px solid #FFD72A;
  outline-offset: -5px;
}
.blue .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #E51A1A;
  outline-offset: -10px;
}
.blue .section-content {
  background: linear-gradient(180deg, rgba(31, 36, 124, 0) 0%, rgb(0, 0, 0) 100%);
}

.dark-blue {
  background-color: #1D2030;
}
.dark-blue .image-carousel-container .image-container {
  outline: 10px solid #1BAB32;
  outline-offset: -10px;
}
.dark-blue .image-carousel-container .image-container .back:hover,
.dark-blue .image-carousel-container .image-container .forward:hover {
  background-color: #1BAB32;
}
.dark-blue .image-carousel-container .dot-image-container img {
  outline: 5px solid #5F90BB;
  outline-offset: -5px;
}
.dark-blue .image-carousel-container .dot-image-container img.selected {
  outline: 10px solid #1BAB32;
  outline-offset: -10px;
}
.dark-blue .section-content {
  background: linear-gradient(180deg, rgba(29, 32, 48, 0) 0%, rgb(0, 0, 0) 100%);
}
