@import url(https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
body, html {
  color: #FFFFFF;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/images/menu/durvis_active.svg") url("/images/menu/krustojums_active.svg") url("/images/menu/gala stacija_active.svg") url("/images/menu/skatlogs_active.svg") url("/images/menu/brauciens_active.svg") url("/images/menu/gaidisana_active.svg") url("/images/menu/pasteiga.svg");
}

.content {
  background-color: #222;
}
.content .container {
  margin: auto;
  max-width: 1500px;
}

h1 {
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  line-height: 110px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 50px;
  font-style: italic;
  font-weight: 900;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 40px;
  font-weight: 900;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h6 {
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.prev-icon,
.next-icon {
  font-size: 45px;
}

.text-right {
  text-align: right;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav .logo-container {
  margin: auto;
  padding: 18px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.topnav .logo-container a img {
  height: 50px;
}
.topnav .language-links-container {
  position: absolute;
  right: 100px;
  top: 24px;
}
.topnav .language-links-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.topnav .language-links-container ul li {
  float: left;
  color: #B3B3B3;
  padding: 0 18px;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
.topnav .language-links-container ul li.active {
  color: white;
}

.button-white {
  color: #000000;
  background-color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  padding: 15px;
  border-radius: 6px;
  text-decoration: none;
}

.hero-image-container {
  width: 100%;
}
.hero-image-container .hero-image-overlay {
  display: inline-block;
  height: 910px;
  position: relative;
}
.hero-image-container .hero-image-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 910px;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(29, 32, 48, 0) 30%, rgb(29, 32, 48) 95%);
}
.hero-image-container img {
  width: 100%;
}
.hero-image-container.home {
  height: 910px;
}

.accordion-menu {
  height: 750px;
  overflow: hidden;
  position: relative;
}
.accordion-menu .menu-item {
  bottom: 0;
  display: inline-block;
  position: absolute;
  transition: margin-bottom 0.2s, left 0.2s, width 0.2s;
  width: 100%;
}
.accordion-menu .menu-item .item-contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 80px;
  left: 80px;
}
.accordion-menu .menu-item .item-contents .col-right {
  width: 400px;
}
.accordion-menu .menu-item .item-contents .col-right .button-container {
  margin-top: 45px;
}
.accordion-menu .menu-item.lowered {
  margin-bottom: -250px;
}
.accordion-menu .menu-item.item-durvis {
  background: #1D2030 url("/images/menu/durvis.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  height: 750px;
}
.accordion-menu .menu-item.item-durvis.active {
  background: #1D2030 url("/images/menu/durvis_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-krustojums {
  background: #1F247C url("/images/menu/krustojums.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 685px;
  left: 65px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-krustojums {
    left: 0;
  }
}
.accordion-menu .menu-item.item-krustojums.active {
  background: #1F247C url("/images/menu/krustojums_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-galastacija {
  background: #511260 url("/images/menu/gala stacija.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 620px;
  left: 130px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-galastacija {
    left: 0;
  }
}
.accordion-menu .menu-item.item-galastacija.active {
  background: #511260 url("/images/menu/gala stacija_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-skatlogs {
  background: #B72538 url("/images/menu/skatlogs.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 555px;
  left: 195px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-skatlogs {
    left: 0;
  }
}
.accordion-menu .menu-item.item-skatlogs.active {
  background: #B72538 url("/images/menu/skatlogs_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-brauciens {
  background: #C4451A url("/images/menu/brauciens.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 490px;
  left: 260px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-brauciens {
    left: 0;
  }
}
.accordion-menu .menu-item.item-brauciens.active {
  background: #C4451A url("/images/menu/brauciens_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-gaidisana {
  background: #D48502 url("/images/menu/gaidisana.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 425px;
  left: 325px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-gaidisana {
    left: 0;
  }
}
.accordion-menu .menu-item.item-gaidisana.active {
  background: #D48502 url("/images/menu/gaidisana_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}
.accordion-menu .menu-item.item-pasteiga {
  background: #CEA90D url("/images/menu/pasteiga.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
  border-radius: 54px 0 0 0;
  height: 360px;
  left: 390px;
}
@media screen and (max-width: 1230px) {
  .accordion-menu .menu-item.item-pasteiga {
    left: 0;
  }
}
.accordion-menu .menu-item.item-pasteiga.active {
  background: #CEA90D url("/images/menu/pasteiga_active.svg") no-repeat 10px 12px;
  background-origin: content-box;
  background-size: 1500px auto;
}

.section-content {
  padding: 0 50px 0 50px;
}
.section-content .row {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 100%;
}
.section-content .row .col-left,
.section-content .row .col-right {
  width: 50%;
}

.navigation-button-container {
  display: flex;
  justify-content: space-between;
}
.navigation-button-container a {
  color: #FFFFFF;
  text-decoration: none;
}
.navigation-button-container a:hover {
  color: #FFFFFF;
}

.yellow {
  background-color: #CEA90D;
}
.yellow .section-content {
  background: linear-gradient(180deg, rgba(206, 169, 13, 0) 0%, rgb(0, 0, 0) 100%);
}

.light-orange {
  background-color: #D48502;
}
.light-orange .section-content {
  background: linear-gradient(180deg, rgba(212, 133, 2, 0) 0%, rgb(0, 0, 0) 100%);
}

.orange {
  background-color: #C4451A;
}
.orange .section-content {
  background: linear-gradient(180deg, rgba(196, 69, 26, 0) 0%, rgb(0, 0, 0) 100%);
}

.red {
  background-color: #B72538;
}
.red .section-content {
  background: linear-gradient(180deg, rgba(183, 37, 56, 0) 0%, rgb(0, 0, 0) 100%);
}

.purple {
  background-color: #511260;
}
.purple .section-content {
  background: linear-gradient(180deg, rgba(81, 18, 96, 0) 0%, rgb(0, 0, 0) 100%);
}

.blue {
  background-color: #1F247C;
}
.blue .section-content {
  background: linear-gradient(180deg, rgba(31, 36, 124, 0) 0%, rgb(0, 0, 0) 100%);
}

.dark-blue {
  background-color: #1D2030;
}
.dark-blue .section-content {
  background: linear-gradient(180deg, rgba(29, 32, 48, 0) 0%, rgb(0, 0, 0) 100%);
}
